.comboContainer {
  margin-top: 3rem;
}
.combo {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.combo-item {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
h1 {
  font-family: "Quicksand", serif;
  text-transform: uppercase;
  letter-spacing: normal;
  display: flex;
  font-size: 24px;
  margin: 20px;
  justify-content: flex-start;
  font-weight: 650;
  color: #e3443e;
}

.combo-class {
  display: flex;
  margin: 30px;
}
