.topbar {
  width: 100%;
  height: 85px;
  background-color: #fafafa;
  position: sticky;
  top: 0;
  z-index: 999;
  -webkit-box-shadow: 2px 0px 5px 2px rgba(85, 85, 85, 0.223);
  -moz-box-shadow: 2px 0px 5px 2px rgba(85, 85, 85, 0.223);
  box-shadow: 2px 0px 5px 2px rgba(85, 85, 85, 0.223);
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}
.topLeft {
  display: flex;
  gap: 12rem;
  align-items: center;
  font-family: "Oswald", sans-serif;
}
.topLeft h3 {
  font-weight: 400;
  font-size: 1.3rem;
  color: #e3443e;
}
.topRight {
  display: flex;
  align-items: center;
}

.topbarIconContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 8px;
  cursor: pointer;
  color: #555;
}

.topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
.logo {
  height: 60px;
  width: 60px;
  position: relative;
  top: 5px;
  left: 50px;
}
