.addFood {
  flex: 4;
  padding: 20px;
  height: 70vh;
  border-radius: 10px;
  -webkit-box-shadow: 2px 0px 5px 2px rgba(85, 85, 85, 0.223);
  -moz-box-shadow: 2px 0px 5px 2px rgba(85, 85, 85, 0.223);
  box-shadow: 2px 0px 5px 2px rgba(85, 85, 85, 0.223);
}
.addFoodTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foodFieldForm {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.foodFormItem {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.foodFormRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.updateFoodButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.foodFormItem > label {
  margin-bottom: 10px;
  font-size: 16px;
}
.foodFormItemInput {
  border: none;
  width: 250px;
  height: 40px;
  border-bottom: 1px solid #555;
}

.foodImgUploadContainer {
  margin: 20px 60px;
  display: flex;
  align-items: center;
}

.foodImgUploadContainer > label {
  cursor: pointer;
}
.foodImg {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}
