.links-container > ul > li {
  list-style: none;
  text-decoration: none;
  padding: 2.2rem;
}
ul .navlink {
  font-family: "Oswald", serif;
  color: #000000;
}
.nav-toggle {
  background-color: white;
  cursor: pointer;
  border: none;
  transition: 0.3s ease-out;
  height: 20px;
  width: 20px;
}
.nav-toggle:hover {
  transform: rotate(90deg);
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 80px;
  }

  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: 80px !important;
  }
  .links {
    display: flex;
    background-color: none;
    line-height: normal;
  }
}
@media screen and (max-width: 800px) {
  .Back-color:hover {
    width: 100vw;
    height: auto;
    box-shadow: 5px 5px 2px #442b2b;
  }
  li {
    padding: 0.9rem;
    cursor: pointer;
  }

  li:hover {
    background-color: aliceblue;
    transform: scale(1.3);
  }
}

nav {
  border-bottom: #442b2b;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  height: 60px;
}
.links-container {
  height: 0;
  overflow: hidden;
}

hr {
  gap: 50px;
}
.active {
  border-bottom: 3px solid #f5b031;
  border-width: 2px;
  transition: 1s ease-out;
}
