.sidebar {
  flex: 1;
  height: calc(100vh - 90px);
  position: sticky;
  top: 70px;
  font-family: "Oswald", sans-serif;
  background-color: #fdfdfd;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #fafafa;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
