h1 {
  font-family: "Quicksand", serif;
  text-transform: uppercase;
}
/* /* .hr-line {
  height: 0;
  width: 100%;
  border: 1px solid black;
  margin: 40px 0;
} */
.choose-hr {
  /* border: 1px solid black; */
  margin: 40px 0 50px 50px;
  height: 0;
  width: 930px;
  display: flex;
}
