.filter-btn {
  height: 40px;
  width: 80px;
  border: none;
  text-transform: capitalize;
  border-radius: 5px;
  font-size: 14px;
  font-family: Oswald, serif;
}
.filter-btn:hover {
  border-bottom: 1px solid black;
  transition: 0.3se;
  cursor: pointer;
}

.choose {
  display: flex;
  margin: auto;
}
.choose-item {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;

  justify-content: flex-start;
}

.place-center {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 20px 0;
}

.for-item {
  height: 40px;
  width: 15vw;
  border: none;
  background-color: #fafafa;
  left: -20px;
  font-family: "Oswald", serif;
  justify-content: center;
  text-align: center;
  margin-top: 5px;
  border-radius: 5px;
}
.search-i {
  margin-top: 15px;
  border: none;
}
.icon {
  position: relative;
  top: 6px;
  font-size: 22px;
  font-weight: 100;
  left: -45px;
  color: #817d7d;
}

.menu-section {
  margin-top: 50px;
}
@media screen and (max-width: 800px) {
  .icon {
    display: none;
  }
  .choose-item {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    gap: 5px;
    justify-content: flex-start;
  }
}
